In [1]:
import pandas as pd

In [4]:
irisflower=pd.read_csv("C:/Users/Dell/Desktop/Iris_flow/iris_flowers.csv",sep=",")

In [5]:
irisflower

     sepal_length  sepal_width  petal_length   petal_width           class
0             5.1          3.5           1.4           0.2     iris_setosa
1             4.9          3.0           1.4           0.2     iris_setosa
2             4.7          3.2           1.3           0.2     iris_setosa
3             4.6          3.1           1.5           0.2     iris_setosa
4             5.0          3.6           1.4           0.2     iris_setosa
..            ...          ...           ...           ...             ...
145           6.7          3.0           5.2           2.3  iris_virginica
146           6.3          2.5           5.0           1.9  iris_virginica
147           6.5          3.0           5.2           2.0  iris_virginica
148           6.2          3.4           5.4           2.3  iris_virginica
149           5.9          3.0           5.1           1.8  iris_virginica

[150 rows x 5 columns]

In [6]:
import matplotlib.pyplot as plt

In [7]:
for i in range(len(irisflower)):
    if irisflower['class'][i]=="iris_setosa":
       irisflower['class'][i]=0
    if irisflower['class'][i]=="iris_versicolor":
       irisflower['class'][i]=1
    if irisflower['class'][i]=="iris_virginica":
       irisflower['class'][i]=2
irisflower

<ipython-input-7-d012808aa2df>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  irisflower['class'][i]=0
<ipython-input-7-d012808aa2df>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  irisflower['class'][i]=1
<ipython-input-7-d012808aa2df>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  irisflower['class'][i]=2

     sepal_length  sepal_width  petal_length   petal_width class
0             5.1          3.5           1.4           0.2     0
1             4.9          3.0           1.4           0.2     0
2             4.7          3.2           1.3           0.2     0
3             4.6          3.1           1.5           0.2     0
4             5.0          3.6           1.4           0.2     0
..            ...          ...           ...           ...   ...
145           6.7          3.0           5.2           2.3     2
146           6.3          2.5           5.0           1.9     2
147           6.5          3.0           5.2           2.0     2
148           6.2          3.4           5.4           2.3     2
149           5.9          3.0           5.1           1.8     2

[150 rows x 5 columns]

In [8]:
import numpy as np

In [9]:
 x=irisflower[['sepal_length','sepal_width','petal_length',' petal_width']]

In [10]:
y=irisflower['class']

In [11]:
x=x.astype(float)
x

     sepal_length  sepal_width  petal_length   petal_width
0             5.1          3.5           1.4           0.2
1             4.9          3.0           1.4           0.2
2             4.7          3.2           1.3           0.2
3             4.6          3.1           1.5           0.2
4             5.0          3.6           1.4           0.2
..            ...          ...           ...           ...
145           6.7          3.0           5.2           2.3
146           6.3          2.5           5.0           1.9
147           6.5          3.0           5.2           2.0
148           6.2          3.4           5.4           2.3
149           5.9          3.0           5.1           1.8

[150 rows x 4 columns]

In [12]:
y=y.astype(float)
y

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    2.0
146    2.0
147    2.0
148    2.0
149    2.0
Name: class, Length: 150, dtype: float64

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,shuffle=True,random_state=42)

In [15]:
x_train

     sepal_length  sepal_width  petal_length   petal_width
22            4.6          3.6           1.0           0.2
15            5.7          4.4           1.5           0.4
65            6.7          3.1           4.4           1.4
11            4.8          3.4           1.6           0.2
42            4.4          3.2           1.3           0.2
..            ...          ...           ...           ...
71            6.1          2.8           4.0           1.3
106           4.9          2.5           4.5           1.7
14            5.8          4.0           1.2           0.2
92            5.8          2.6           4.0           1.2
102           7.1          3.0           5.9           2.1

[120 rows x 4 columns]

In [16]:
y_train

22     0.0
15     0.0
65     1.0
11     0.0
42     0.0
      ...
71     1.0
106    2.0
14     0.0
92     1.0
102    2.0
Name: class, Length: 120, dtype: float64

In [17]:
x_test

     sepal_length  sepal_width  petal_length   petal_width
73            6.1          2.8           4.7           1.2
18            5.7          3.8           1.7           0.3
118           7.7          2.6           6.9           2.3
78            6.0          2.9           4.5           1.5
76            6.8          2.8           4.8           1.4
31            5.4          3.4           1.5           0.4
64            5.6          2.9           3.6           1.3
141           6.9          3.1           5.1           2.3
68            6.2          2.2           4.5           1.5
82            5.8          2.7           3.9           1.2
110           6.5          3.2           5.1           2.0
12            4.8          3.0           1.4           0.1
36            5.5          3.5           1.3           0.2
9             4.9          3.1           1.5           0.1
19            5.1          3.8           1.5           0.3
56            6.3          3.3           4.7           1.6
104           6.5          3.0           5.8           2.2
69            5.6          2.5           3.9           1.1
55            5.7          2.8           4.5           1.3
132           6.4          2.8           5.6           2.2
29            4.7          3.2           1.6           0.2
127           6.1          3.0           4.9           1.8
26            5.0          3.4           1.6           0.4
128           6.4          2.8           5.6           2.1
131           7.9          3.8           6.4           2.0
145           6.7          3.0           5.2           2.3
108           6.7          2.5           5.8           1.8
143           6.8          3.2           5.9           2.3
45            4.8          3.0           1.4           0.3
30            4.8          3.1           1.6           0.2

In [18]:
y_test

73     1.0
18     0.0
118    2.0
78     1.0
76     1.0
31     0.0
64     1.0
141    2.0
68     1.0
82     1.0
110    2.0
12     0.0
36     0.0
9      0.0
19     0.0
56     1.0
104    2.0
69     1.0
55     1.0
132    2.0
29     0.0
127    2.0
26     0.0
128    2.0
131    2.0
145    2.0
108    2.0
143    2.0
45     0.0
30     0.0
Name: class, dtype: float64

In [19]:
from sklearn.linear_model import LogisticRegression

In [20]:
lr=LogisticRegression()

In [21]:
lr.fit(x_train,y_train)

LogisticRegression()

In [22]:
y_pred=lr.predict(x_test)
y_pred

array([1., 0., 2., 1., 1., 0., 1., 2., 1., 1., 2., 0., 0., 0., 0., 1., 2.,
       1., 1., 2., 0., 2., 0., 2., 2., 2., 2., 2., 0., 0.])

In [23]:
lr.score(x_test,y_pred)

1.0

In [24]:
from sklearn.metrics import accuracy_score

In [25]:
accuracy_score(y_test,y_pred)

1.0

In [26]:
import sklearn
from sklearn.metrics import confusion_matrix, classification_report

In [27]:
print("report:\n",classification_report(y_test,y_pred))

report:
               precision    recall  f1-score   support

         0.0       1.00      1.00      1.00        10
         1.0       1.00      1.00      1.00         9
         2.0       1.00      1.00      1.00        11

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30